<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/index/",method="get" >
        <p>
            <Strong>
                Leave The entries empty and submit to be autofilled by server
            </Strong>
        </p>
        <button type="reset">
            Reset
        </button>
        <br><br>
        <div> Enter Protagonist Name <input type="text" name="Protagon_Name"></div>
        <br>
        <div>
            Enter Colours names:-<br>1st Colour
            <input type="text" name="Colour1"></input> 2nd Colour <input type="text" name="Colour2"></input>
            3rd Colour <input type="text" name="Colour3"></input>
        </div><br>
        Enter animals name
        <br>1st Animal <input type="text" name="animal1">
        2nd Animal <input type="text" name="animal2"> 3rd Animal <input type="text" name="animal3">
        <br><br>
        Enter words related to weather:-<br>
        1st Word <input type="text" name="weather1">
        2nd Word <input type="text" name="weather2"> 3rd Word <input type="text" name="weather3">
        <br><br>
        Enter names of some places:-<br>
        1st Place <input type="text" name="place1"> 2nd Place <input type="text" name="place2">
        3rd Place <input type="text" name="place3"><br><br>
        Enter the names of countries:-<br>
        <div>
            1st Country <input type="text" name=Country1>
            2nd Country <input type="text" name=Country2>
            3rd Country <input type="text" name=Country3>
        </div><br>
        <div>
            Enter the names of Monuments<br>
            1st Monument <input type="text" name="monument1">
            2nd Monument <input type="text" name="monument2">
            3rd Monument <input type="text" name="monument3">
        </div><br>
        <div>
            Enter the names of Food Items<br>
            1st Food Item <input type="text" name="food1">
            2nd Food Item <input type="text" name="food2">
            3rd Food Item <input type="text" name="food3">
        </div>
        <br>
        <div>
            Enter the names of Sweet Dishs<br>
            1st Sweet Dish <input type="text" name="sweet1">
            2nd Sweet Dish <input type="text" name="sweet2">
            3rd Sweet Dish <input type="text" name="sweet3">
        </div><br>

        <div>
            Enter the names of Household Items<br>
            1st Household Item <input type="text" name="household1">
            2nd Household Item <input type="text" name="household2">
            3rd Household Item <input type="text" name="household3">
        </div><br>
        <div>
            Enter the words related to sounds:- <br>
            1st Word <input type="text" name="sound1">
            2nd Word <input type="text" name="sound2">
            3rd Word <input type="text" name="sound3">
        </div><br>
        <br>

        <button type="submit">
            Submit
        </button>
    </form>
</body>

</html>