<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> See Post </title>
    <link rel="stylesheet" href="{% static 'css\post_read.css' %}">
</head>
<body>

    <img id="svg-img-5" src="{% static 'svgs\svg5.svg' %}" />

    <h1> Welcome to the Story </h1>

    <div id="desc" >
          <h3> Story name : XYZ </h3>
          <h3> Story writter : abc </h3>
    </div>

    <p>
          There once was a poor farm girl named Philippa who had nothing in this great big world other than a tiny plot of grass, five stinky pigs, an old, falling down shack, and a rickety fence surrounding it all.
         <br>Every morning Philippa would feed the pigs, then spend the rest of her day dreaming of a better life where she was a princess who ruled over a kingdom.
         <br>Day after day she fed the pigs and dreamed, but her life never improved. In fact, as time passed her grass turned brown, her pigs became even more stinky, and the shack finally did fall down. The only thing she had going for her in this great big world was that the fence surrounding it all was still standing.
         <br>When Philippa gathered together the tools she needed to fix the fallen down shack, she also took an inventory of what she had that might help her reach her dream of becoming a princess.
         <br>It wasn’t much, In her toolbox, she had a saw, a hammer, and some old, rusty nails.
         <br>In her life, all she had was her imagination, if you didn’t count the brown grass, stinky pigs, fallen down shack and the fence surrounding it all.
         <br>So with her imagination, Philippa went to work.
         <br>Instead of repairing the shack, she built it better and stronger than before. And she built it to look like a tiny castle.
         <br>When she finished with her castle she dug a tiny moat and filled it with water, which she used to water the grass and wash her stinky pigs.
         <br>She even repaired the fence so that it would look more like the gates of the faraway kingdom, where the King lived with the Queen and their handsome son, Prince Percival.
         <br>Ahhh… Prince Percival,.
         <br>The most handsome prince in the world. Philippa often dreamed of sharing her tiny kingdom with someone who made her heart sing and her soul dance.  And since she was now in the habit of making her dreams come true, she resolved to marry Prince Percival.
         <br>Philippa took inventory again. The only things she had in her tiny kingdom that might impress a handsome prince were a beautiful rose that grew under a tree on a nearby hill, and a nightingale who sang the most beautiful songs from a branch on that tree.
         <br>So Philippa built two beautiful cages and set off that day for the faraway kingdom.
         <br>When she arrived, Philippa presented the rose and the nightingale to the King, the Queen, and the Prince.
         <br>“I am Princess Philippa,” she said.  “And I have come to–”
         <br>“From what kingdom?” asked the Queen.
         <br>“Um…” Philippa said, for he had never actually thought of giving her tiny kingdom a name before.
         <br>“I am from the kingdom of Pigadelphia,” she said, although she was pretty sure that she was going to have to think of a better name.
         <br>Philippa approached Prince Percival and laid her two gifts at his feet.
         <br>“That is the most beautiful rose I have ever seen!” shouted the Queen.
         <br>“That nightingale sings the most beautiful songs I have ever heard!” cried the King.
         <br>But Prince Percival remained unimpressed.  “Hmmph,” he hmmphed in a way that did not make Philippa’s heart sing or her soul dance.
         <br>“Put them with the others,” he said, waving his hand.
         <br>Philippa turned in the direction of his wave and saw, stacked in the corner of the great hall, gifts of all shapes and sizes, and a long line of other princesses who also wanted Prince Percival’s hand in marriage.
         <br>“I haven’t made up my mind,” Prince Percival said to his father as he looked out at the large assortment of gifts he had collected, “although I doubt I could ever marry a pig farmer.”
         <br>“I prefer the name Swineherd,” Philippa said, correcting the prince, which was not often done by commoners.
         <br>Philippa was invited to stay in the kingdom while Prince Percival made up his mind. But because so many others were competing for his attention, all they could provide her was a small room in the pigsty next to the castle.
         <br>Her room was in even worse condition than her falling down shack had been. And, if it was possible, the pigs next to her room were even stinkier. But rather than sitting around and waiting, Philippa began to repair the room and clean the stinky pigs and tend to the parts of her world that were in her control.
         <br>The next day one of the prince’s servants, whose name was Peter, came to tell Philippa that the prince had still not made up his mind.
         <br>Every day, week after week, Peter would stop by to tell Philippa that the prince had still not made up his mind. And each day Peter would stay a little longer, walking with Philippa, talking with Philippa, and marvelling at all that Philippa had accomplished.
         <br>While she had been waiting, Philippa had brought her own pigs to live with her in the sty. She had opened up a little shop to sell her wares. And she had begun making all sorts of the most wonderful inventions.
         <br>She created a large, metal cooking pot with tiny, silver bells along the rim. And whenever water was boiled in the pot, one could smell whatever was being cooked in any other pot in the kingdom. Soups and breads, cakes and pies. The most delicious smells poured out of the pot.
         <br>She crafted a musical instrument and, whenever it was swung around, it would play any song the holder of the instrument desired.
         <br>And she compiled a large assortment of mechanical chickens, assembled of wood and metal and string and baling wire. When they were wound up they would set about any chore that Philippa asked of them.
         <br>People came from far and wide to see Philippa and her magical inventions, but no visitor was more important to her than Peter.
         <br>One day, word of Philippa’s accomplishments made their way to the King and Queen and Prince Percival so they arranged a royal visit to her pigsty.
         <br>After seeing all that Philippa had done the King said, “Percival, this is the girl you should choose to marry. Look at how she has transformed a simple sty into a stable fit for a prince.”
         <br>Percival just lifted his nose high into the air.
         <br>“It smells like chocolate chip cookies and waffles,” said the queen. “And listen to the wonderful music! This is the girl you should choose to marry.”
         <br>“I don’t think I could ever marry a pig farmer,” Percival said.
         <br>“I prefer the name Swineherd,” Philippa corrected.
         <br>“Hmmph,” Percival hmmphed, standing on a stool so he could lift his nose even higher into the air. And that was when he saw all of the mechanical marvels outside the shop, cleaning and building and doing chores.
         <br>“With servants like these,” Percival said, “I would never have to lift a finger for the rest of my life!”
         <br>“But you don’t lift a finger now,” the King corrected.
         <br>“Hmmph!” said Percival.
         <br>“So you have finally made up your mind?” asked the queen.
         <br>“Yes,” Percival said, stepping down from the stool.
         <br>“Then I declare,” declared the king, “That tomorrow at noon there shall be a magnificent parade through all the streets of the kingdom. And at the parade’s end, Prince Percival will name the princess he wishes to marry!”
         <br>A great cheer went up from the crowd, for they truly and dearly loved parades.
         <br>When the King, Queen, and Prince left, Philippa saw Peter walking away, crying.
         <br>“Where are you going?” Philippa asked.  “And why are you so sad?”
         <br>“Because you are to marry the prince. He will undoubtedly choose you.”
         <br>“Well,” Philippa told him. “The prince may have made up his mind today, but I made up my mind weeks ago. Meet me here tomorrow, an hour before the parade.
         <br>The next morning when Percival arrived, Philippa and her pigs and all of her magical inventions were packed up, wound up, and pointed towards the castle gates.
         <br>“Where are you going?”  Percival asked.
         <br>“Back to my own kingdom, to marry a prince whom I choose, who makes my heart sing and my soul dance.”
    ​           <br>Peter blushed, for he knew that Philippa meant him.
          <br>She helped him onto one of her pigs and together they travelled towards the gate.
          <br>Philippa was so loved by the people that everyone came out of their houses to see where she was going. And in short order, Philippa had started her own parade, out past the castle walls and all the way back to the tiny kingdom of Pigadelphia.
          <br>From that day on, from his cold, empty castle in a faraway land, Percival sat in his tower, looking off into the distance, dreaming about a better life.
          <br>And from her small, perfect kingdom, Philippa and Peter spent their days making their dreams come true.​
    </p>
      
</body>
</html>


